@font-face {
    font-family:'Octicons Regular';
    src: url("octicons.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
html {
font-family: sans-serif;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
.workspace {
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #cccccc;
    font-family:'Consolas', 'Lucida Grande', 'Segoe UI', sans-serif;
}
.workspace .horizontal {
    display: -webkit-flex;
    height: 100%;
}
.workspace .vertical {
    display: -webkit-flex;
    -webkit-flex: 1;
    -webkit-flex-flow: column;
}
.panes {
    display: -webkit-flex;
    -webkit-flex: 1;
}
.panes .pane-column {
    display: -webkit-flex;
    -webkit-flex: 1;
    -webkit-flex-direction: column;
}
.panes .pane-row {
    display: -webkit-flex;
    -webkit-flex: 1;
    -webkit-flex-direction: row;
}
.panes .pane {
    position: relative;
    display: -webkit-flex;
    -webkit-flex: 1;
    -webkit-flex-direction: column;
}
.panes .pane .item-views {
    -webkit-flex: 1;
    display: -webkit-flex;
    min-height: 0;
    min-width: 0;
    position: relative;
}
.panes .pane .item-views .pane-item {
    color: #444444;
    background-color: #f4f4f4;
}
.panes .pane .item-views > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.panel {
    border-radius: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
}
.panel.bordered .panel-heading {
    border-radius: 2px 2px 0 0;
}
.inset-panel .panel-heading {
    border-radius: 2px 2px 0 0;
}
.panel-heading {
    margin: 0;
    border-radius: 0;
    font-size: 13px;
    line-height: 1;
}
.panel-heading .btn {
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    position: relative;
    top: -5px;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}
.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.list-inline > li:first-child {
    padding-left: 0;
}
.editor.mini {
    color: #444444;
    background-color: #ffffff;
    border: 1px solid rgba(159, 159, 159, 0.9);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-radius: 2px;
    padding-left: 5px;
}
.editor.mini .cursor {
    border-color: #000;
}
.editor.mini .selection .region {
    background-color: rgba(0, 0, 0, 0.2);
}
.editor.editor-colors.mini.is-focused {
    background-color: #ffffff;
}
.editor.editor-colors.mini.is-focused .selection .region {
    background-color: #99d6ff;
}
.editor .gutter.drop-shadow {
    -webkit-box-shadow: -2px 0 10px 2px #222222;
}
@-webkit-keyframes highlight {
    from {
        background-color: rgba(100, 255, 100, 0.7);
    }
    to {
        background-color: null;
    }
}
.editor .highlighted.selection .region {
    -webkit-animation-name: highlight;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
}
.tab-bar {
    height: 36px;
    background-image: -webkit-linear-gradient(top, #d8d8d8, #efefef);
    box-shadow: inset 0 -8px 8px -4px rgba(0, 0, 0, 0.15);
    padding: 0 10px;
}
.tab-bar:after {
    content:"";
    position: absolute;
    bottom: 0;
    height: 5px;
    left: 0px;
    width: 100%;
    background-color: #f0f0f0;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #b9b9b9;
}
.tab-bar .tab {
    position: relative;
    top: 5px;
    height: 26px;
    line-height: 26px;
    color: #444444;
    padding-left: 0;
    margin-left: 15px;
    border-top-right-radius: 3px;
    border-right: 1px solid #b9b9b9;
    box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.05);
    -webkit-transform: skewX(30deg);
    transition: color 0.1s ease-in;
}
.tab-bar .tab, .tab-bar .tab:before {
    background-image: -webkit-linear-gradient(top, #e8e8e8, #d9d9d9);
    border-top: 1px solid #b9b9b9;
}
.tab-bar .tab:before {
    content:'';
    position: absolute;
    top: -1px;
    left: -16px;
    height: 26px;
    width: 30px;
    border-top-left-radius: 3px;
    border-left: 1px solid #b9b9b9;
    box-shadow: inset 1px -1px 1px rgba(0, 0, 0, 0.05);
    -webkit-transform: skewX(133deg);
}
.tab-bar:after {
    content:"";
    position: absolute;
    bottom: 0;
    height: 5px;
    left: 0px;
    width: 100%;
    background-color: #f0f0f0;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #b9b9b9;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tab-bar {
    display: -webkit-flex;
    -webkit-user-select: none;
    margin: 0;
    /* Drag and Drop */
}
.tab-bar .tab {
    font-size: 11px;
    position: relative;
    padding-left: 10px;
    padding-right: 24px;
    -webkit-user-drag: element;
    -webkit-flex: 1;
    max-width: 175px;
    min-width: 40px;
}
.tab-bar .tab.active {
    -webkit-flex: 2;
}
.tab-bar .tab .title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tab-bar .tab .close-icon {
    position: absolute;
    top: 1px;
    right: 10px;
    cursor: default;
}
.tab-bar .tab .close-icon:before {
    font-family:'Octicons Regular';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    font-size: 12px;
    width: 12px;
    height: 12px;
    content:"\f081";
}
.tab-bar .tab.modified:hover .close-icon {
    color: #0098ff;
}
.tab-bar .tab.modified:not(:hover) .close-icon {
    top: 11px;
    right: 11px;
    width: 8px;
    height: 8px;
    border: 2px solid #0098ff;
    border-radius: 12px;
}
.tab-bar .tab.modified:not(:hover) .close-icon:before {
    content:"";
}
.tab-bar .placeholder {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 2px;
    margin: -1px;
    padding: 0;
    height: 26px;
    display: inline-block;
    background: #0098ff;
    list-style: none;
}
.tab-bar .placeholder:after {
    content:"";
    position: absolute;
    top: 26px;
    margin: -1px;
    z-index: 9999;
    width: 4px;
    height: 4px;
    background: #0098ff;
    border-radius: 4px;
    border: 1px solid transparent;
}
.tab-bar .tab .close-icon {
    z-index: 3;
    line-height: 26px;
    -webkit-transform: skewX(-30deg);
}
.tab-bar .tab.modified:not(:hover) .close-icon {
    top: 10px;
    right: 14px;
    width: 8px;
    height: 8px;
}
.tab-bar .tab .title {
    -webkit-transform: skewX(-30deg);
}
.tab-bar .tab.active {
    z-index: 10;
    line-height: 24px;
    color: #000000;
}
.tab-bar .tab.active .title {
    position: relative;
    top: 1px;
}
.tab-bar .tab.active .close-icon {
    line-height: 25px;
}
.tab-bar .tab.active, .tab-bar .tab.active:before {
    background: #f0f0f0;
    height: 27px;
    box-shadow: none;
}
.tab-bar .tab:hover {
    color: #000000;
}
.tab-bar .tab.active:hover .close-icon {
    color: #000000;
}
.tab-bar {
    display: -webkit-flex;
    -webkit-user-select: none;
    margin: 0;
    /* Drag and Drop */
}
.tab-bar .tab {
    font-size: 11px;
    position: relative;
    padding-left: 10px;
    padding-right: 24px;
    -webkit-user-drag: element;
    -webkit-flex: 1;
    max-width: 175px;
    min-width: 40px;
}
.tab-bar .tab.active {
    -webkit-flex: 2;
}
.tab-bar .tab .title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tab-bar .tab .close-icon {
    position: absolute;
    top: 1px;
    right: 10px;
    cursor: default;
}
.tab-bar .tab .close-icon:before {
    font-family:'Octicons Regular';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    font-size: 12px;
    width: 12px;
    height: 12px;
    content:"\f081";
}
.tab-bar .tab.modified:hover .close-icon {
    color: #0098ff;
}
.tab-bar .tab.modified:not(:hover) .close-icon {
    top: 11px;
    right: 11px;
    width: 8px;
    height: 8px;
    border: 2px solid #0098ff;
    border-radius: 12px;
}
.tab-bar .tab.modified:not(:hover) .close-icon:before {
    content:"";
}
.tab-bar .placeholder {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 2px;
    margin: -1px;
    padding: 0;
    height: 26px;
    display: inline-block;
    background: #0098ff;
    list-style: none;
}
.tab-bar .placeholder:after {
    content:"";
    position: absolute;
    top: 26px;
    margin: -1px;
    z-index: 9999;
    width: 4px;
    height: 4px;
    background: #0098ff;
    border-radius: 4px;
    border: 1px solid transparent;
}
.inset-panel {
    position: relative;
    background-color: #ffffff;
}
.status-bar {
    font-size: 11px;
    line-height: 22px;
    height: 26px;
    position: relative;
    -webkit-user-select: none;
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
    min-width: -webkit-min-content;
}
.status-bar .flexbox-repaint-hack {
    padding: 0 12.5px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.status-bar .icon:before {
    font-size: 14px;
    width: 14px;
    height: 14px;
    position: relative;
    top: 1px;
    margin-right: 0px;
}
.status-bar .icon-diff-ignored:before, .status-bar .commits-ahead-label:before, .status-bar .commits-behind-label:before {
    margin-right: -1px;
}
.status-bar .git-view {
    display: inline-block;
}
.tool-panel {
    font-weight: normal;
    color: #444444;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    position: relative;
    background-color: #f4f4f4;
}
.tool-panel.panel-bottom {
    border-top: 1px solid #9f9f9f;
}
.tool-panel.panel-left {
    border-right: 1px solid #9f9f9f;
}
.tool-panel.panel-right {
    border-left: 1px solid #9f9f9f;
}
.tool-panel .inset-panel {
    border-radius: 2px;
    border: 1px solid #9f9f9f;
}
.editor{
    z-index: 0;
    position: absolute;
    min-height: 100%;
    min-width: 100%;
}
